<html>
<div>
    <table class="table">
        <tr>
            <th>이미지</th>
            <th>분류</th>
            <th>제목</th>
            <th>날짜</th>
        </tr>
        <tr th:each="lotteEatz : ${lotteEatz}">
            <td><a th:href="${lotteEatz.href}"><img th:src="${lotteEatz.image}"></a></td>
            <td th:text="${lotteEatz.field}"></td>
            <td><a th:href="${lotteEatz.href}"><span th:text="${lotteEatz.title}"></span></a></td>
            <td th:text="${lotteEatz.date}"></td>
        </tr>
    </table>
</div>
</html>