<html>
<div>
    <table class="table">
        <tr>
            <th>이미지</th>
            <th>제목</th>
            <th>본문</th>
            <th>날짜</th>
        </tr>
        <tr th:each="ssf : ${ssf}">
            <td><a th:href="${ssf.href}"><img th:src="${ssf.image}"></a></td>
            <td><a th:href="${ssf.href}"><span th:text="${ssf.title}"></span></a></td>
            <td th:text="${ssf.description}"></td>
            <td th:text="${ssf.date}"></td>
        </tr>
    </table>
</div>
</html>